html {
  min-height: 100%;
  position: relative;
}


body{background-color: #f5f5f7;
  margin: 0;
  margin-bottom: 40px;}
div, footer{

  display: flex;
}
.cabecera {
  
  flex-direction: column;
  justify-content: space-between;

  padding: 0 20px;
  background-color: #149bab;
}

.logo {
  text-decoration: none;


}
a{
  color: black;
  text-decoration: none;
  text-decoration-line: none;
}
.menu {
  
  align-items: center;
  justify-content: space-around;
  height: 75px;
  text-decoration: none;
  
}

.social-media {

  align-items: center;
  justify-content: space-around;
}

.nombre {
  
  color: black;
  font-size: 30px;
  margin-right: 20px;

}

.c_menu {
  color: black;
  text-decoration: none;

  text-align: center;
  font-size: 25px;
  margin-right: 20px;
  background-color: #0c4147 ;
  border-radius: 5px;
  width: 8em;
}

.imagen {
  height: 60px;
  width: 60px;
  aspect-ratio: 3/2;
}

.branding {
 
  flex-direction: row;
  justify-content: space-between;
}

i {
  width: 1em;
}

.slogan {

  align-items: center;
  text-transform: capitalize;
  /* font-variant: small-caps; */


}

/* ################################################### */
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #d2d2d7;
  align-items: center;
 height: fit-content;
  flex-direction: column;
}
.columnas{
  margin-top: 10px;
}
h6, h5, p{
  line-height: 100%;
  margin: 2px;
  
}
.terminos{
  color: dimgrey;
}
.datos{ align-items:flex-start ;
  flex-direction: column;}
.promociones{
  
  align-items: center;
  flex-direction: column;
}